:root {
    --width: 400px;
}

.burger-menu {
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: white;
    width: var(--width);
    z-index: 2147483647;
    overflow-y: scroll;
    overflow-x: hidden;
}

.burger-menu .header-container {
    padding: 10px 10px 0;
}

.burger-menu .burger-content {
    box-shadow: rgb(0 0 0 / 16%) 0 10px 36px 0, rgb(0 0 0 / 6%) 0 0 0 1px;
    border-radius: 0 0 20px 20px;
    padding: 30px 10px;
    margin: 10px 0;
    overflow-wrap: break-word;
}

.burger-menu::-webkit-scrollbar {
    display: none;
}
