.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2147483647;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.overlay {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 50rem; /* Adjust as needed */
    height: 30rem; /* Adjust as needed */
    padding: 1rem;
    box-sizing: border-box;
    overflow: auto;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bookmarkedVideo__info {
    margin-top: 20px;
    background: linear-gradient(100.02deg, #E0E0E0 48.76%, #e1dede 100%);
    border-radius: 14px;
    width: 80%;
    height: 100px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookmarkedVideo__info__title {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: black;
    margin-bottom: 10px;
    margin-top: 12px;
}

.bookmarkedVideo__info__checkpoints {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmarkedVideo__info__checkpoints__line {
    width: 80%;
    height: 1px;
    background: #33A6CA;
    position: relative;
}

.bookmarkedVideo__info__checkpoints__line__checkpoint {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: -5px;
    position: absolute;
}

.button-white {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: black;
    border: 3px solid #000;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.close-btn {
    position: absolute;
    top: 13px;
    right: 15px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ff5f56;
    border: none;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
}
