.App {
    text-align: center;
    width: 300px;
    padding: 10px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.gradient {
    background: linear-gradient(
            186deg, rgb(0, 0, 0) 4%, rgb(0, 0, 0) 7%, rgb(3, 1, 43) 88%, rgb(4, 2, 53) 100%) no-repeat fixed;;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.lato {
    font-family: 'Lato', sans-serif;
}

.App-header {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
